{% extends 'includes/_base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Department Standings</h1>
    <div id="chart-container" style="height: 400px;"></div>

    <div class="row mt-5">
        <div class="col-12">
            <h2 class="text-center">Hall of Fame</h2>
            <div id="hall-of-fame" class="d-flex flex-wrap justify-content-center">
                <!-- Hall of Fame content will be dynamically inserted here -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
